html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    color: $color;
    max-width: 60em;
    padding: 3em;
    margin: auto;
}

button {
    padding: 1em;
    border: none;
    background: gray;
    outline: none;
    cursor: pointer;
    margin: 1em;
    color: #fff;
    font-size: 1.3em;
}

#app {
    text-align: center;
}
